.center {
    background-color:azure;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 60px; 
    gap: 35px; 
}

.center a {
    color:rgb(8, 8, 8);
    font-size: 24px;
    text-decoration: none;
    padding: 10px 15px; 
    transition: 0.3s;
}

.main{
    color: blue;
    text-align: left;
 
}

#color{
    color: black;
}


#heading{
    text-align: center;
    

}

.portfolio{
    color: forestgreen;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(126, 235, 237);
     height: 70px
}




profile-section img {
    width: 100px; 
    height: auto;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.about-details {
    max-width: 400px;
}

.profile-section {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    gap: 30px; 
    padding: 20px;
}